openapi: 3.1.0
info:
  title: Vatly API
  version: '1.0'
  x-generated-at: '2026-05-28'
  description: |
    Vatly is a Merchant of Record billing platform for European SaaS companies.
    This API enables you to manage checkouts, customers, orders, subscriptions, refunds, and more.

    ## Authentication

    The Vatly API uses Bearer token authentication. All API requests must include an `Authorization` header:

    ```
    Authorization: Bearer {your_api_token}
    ```

    ### Live vs Test Mode

    API tokens determine the environment mode:
    - Tokens prefixed with `live_` access **production** data
    - Tokens prefixed with `test_` access **sandbox** data

    Resources created in one mode cannot be accessed or referenced from the other mode.
    For example, a checkout created with a test token cannot reference a customer created with a live token.

    #### Payment methods in test mode

    A few payment methods work in live mode but cannot be completed in test mode,
    because the payment provider cannot settle them there. A test-mode checkout
    still lists them, greyed out and labelled as unavailable, so you can see they
    exist without being able to select one:

    | Method | Test mode | Reason |
    |--------|-----------|--------|
    | `banktransfer` | Not selectable | The provider cannot settle bank transfers in test mode |
    | `paybybank` | Not selectable | The provider cannot settle Pay by Bank in test mode |

    Every other method behaves identically in both modes. Test a checkout with any
    selectable method — `creditcard` and `ideal` cover the one-off and mandate flows —
    and the resulting orders, invoices and webhooks are the same ones live mode produces.

    ## Pagination

    List endpoints use cursor-based pagination with the following query parameters:

    | Parameter | Type | Description |
    |-----------|------|-------------|
    | `limit` | integer | Number of results per page (default: 10, max: 100) |
    | `startingAfter` | string | Cursor ID to fetch results after |
    | `endingBefore` | string | Cursor ID to fetch results before |

    `startingAfter` and `endingBefore` are mutually exclusive.

    All list responses are wrapped in a pagination envelope:

    ```json
    {
      "data": [ ... ],
      "count": 2,
      "links": {
        "self": { "href": "https://api.vatly.com/v1/orders", "type": "application/json" },
        "next": { "href": "https://api.vatly.com/v1/orders?startingAfter=order_abc", "type": "application/json" },
        "prev": null
      }
    }
    ```

    ## Money Format

    All monetary values are represented as objects with `value` (string) and `currency` (ISO 4217 code):

    ```json
    {
      "value": "99.99",
      "currency": "EUR"
    }
    ```

    Values are strings to preserve decimal precision.

    ## Email Format

    Vatly canonicalizes every email address it accepts, and stores and returns
    that canonical form:

    - the local part is lower-cased;
    - the domain is lower-cased and converted to its **Punycode (ASCII)** form
      per [UTS #46](https://www.unicode.org/reports/tr46/).

    So `User@Müller.de`, `USER@MÜLLER.DE` and `user@xn--mller-kva.de` are all
    accepted and all describe the same address. **Responses return the canonical
    form, which may therefore differ in spelling from what you submitted** —
    compare addresses after canonicalizing, or key off the resource `id`.

    Submitting an internationalized domain directly is fine; you do not need to
    encode it yourself. A domain that cannot be canonicalized at all — an empty
    label (`user@..com`), a malformed Punycode label (`user@xn--0.com`), a label
    over 63 characters — is rejected with `422`.

    Beyond that canonicalization the comparison is exact: `büyer@example.com`
    and `straße@example.com` are different addresses from `buyer@example.com`
    and `strasse@example.com`, and get their own customers.

    For human-friendly display in your own UI, decode the domain back to
    Unicode. Most languages provide this in the standard library — for
    example, PHP's `idn_to_utf8()`, Python's `idna.decode()`, or Node's
    [`url.domainToUnicode()`](https://nodejs.org/api/url.html#urldomaintounicodedomain).

    Local-part Unicode (EAI / SMTPUTF8) is not supported for delivery, but a
    non-ASCII local part is stored and compared verbatim (after lower-casing).

    ## Idempotency

    All mutating requests (`POST`, `PATCH`, `PUT`, `DELETE`) accept an
    optional `Idempotency-Key` header. When present, Vatly records the
    first response keyed by `(token, endpoint, key)` and returns it
    verbatim on subsequent requests with the same key, marking the
    replay with an `Idempotent-Replayed: true` response header.

    - **Use a fresh key per logical operation.** Generate one client-side
      (UUIDv4 is recommended) and retry transparently with the same key
      on network errors.
    - **Keys are bound to the exact parameters of the first request.**
      Replaying with a different body or different query parameters
      returns `409 Conflict`. Either retry with the original parameters
      or generate a new key.
    - **Keys expire after 24 hours.** After that the key is reusable as
      a fresh idempotency boundary.
    - **Scope is per endpoint.** The same key value on a different
      endpoint is treated as a new key.

    Sending an `Idempotency-Key` on a `GET` or `HEAD` request is ignored.

    ## Errors

    The API returns standard HTTP status codes and JSON error responses:

    | Status | Description |
    |--------|-------------|
    | 400 | Bad Request - Invalid request format |
    | 401 | Unauthorized - Missing or invalid token |
    | 403 | Forbidden - Token invalid or insufficient permissions |
    | 404 | Not Found - Resource doesn't exist |
    | 409 | Conflict - Idempotency-Key reused with different request parameters |
    | 422 | Unprocessable Entity - Validation failed |
    | 429 | Too Many Requests - Rate limit exceeded |
    | 500 | Internal Server Error |
  contact:
    name: Vatly Support
    url: https://vatly.com
    email: support@vatly.com
  license:
    name: Proprietary
    url: https://vatly.com/terms
servers:
  - url: https://api.vatly.com/v1
    description: Production API
  - url: https://api.staging.vatly.com/v1
    description: Staging API
security:
  - BearerAuth: []
tags:
  - name: Checkouts
    description: |
      Create and manage hosted checkout sessions.
      Checkouts allow customers to purchase one-off products and subscription plans through a hosted payment page.
  - name: Customers
    description: |
      Manage customer records.
      Customers are identified by email and can have multiple subscriptions and orders.
  - name: One-Off Products
    description: |
      Create and view one-off products.
      Products can be created in the Vatly dashboard or through the API. Live
      products are reviewed and approved by Vatly before they can be added to
      checkouts.
  - name: Subscription Plans
    description: |
      Create and view subscription plans.
      Plans define recurring billing intervals and pricing, and can be created
      in the Vatly dashboard or through the API. Live plans are reviewed and
      approved by Vatly before they can be added to checkouts.
  - name: Orders
    description: |
      View orders and request invoice address updates.
      Orders are created when checkouts complete or subscriptions renew.
  - name: Refunds
    description: |
      Create and manage refunds for paid orders.
      Supports both partial (per-item) and full refunds.
  - name: Chargebacks
    description: |
      View chargebacks initiated by the payment provider.
      Chargebacks are created automatically when a customer disputes a payment.
  - name: Subscriptions
    description: |
      Manage customer subscriptions.
      Update plans, quantities, billing details, or cancel subscriptions.
  - name: Webhook Events
    description: |
      View webhook events that were sent to your webhook endpoints.
      Each event contains the full resource payload at the time the event occurred.
  - name: Webhook Endpoints
    description: |
      Register and manage the endpoints Vatly delivers webhook events to.
      Create, list, update, and delete endpoints programmatically — useful for
      CI, infrastructure-as-code, and ephemeral preview environments. The
      signing secret is write-only: you supply it and it is never returned.
  - name: Test Helpers
    description: |
      Sandbox-only endpoints for simulating billing events.
      These endpoints require a `test_` prefixed API token.
paths:
  /checkouts:
    get:
      operationId: listCheckouts
      summary: List all checkouts
      description: |
        Returns a paginated list of checkouts for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of checkouts
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Checkout'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: checkout_QdEpFhdSrG4Y3DnfsdqsH
                    resource: checkout
                    customerId: null
                    orderId: null
                    testmode: false
                    redirectUrlSuccess: https://example.com/success
                    redirectUrlCanceled: https://example.com/canceled
                    metadata: {}
                    locale: null
                    status: created
                    expiresAt: '2024-01-16T10:30:00Z'
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      checkoutUrl:
                        href: https://checkout.vatly.com/checkout_QdEpFhdSrG4Y3DnfsdqsH
                        type: text/html
                      self:
                        href: https://api.vatly.com/v1/checkouts/checkout_QdEpFhdSrG4Y3DnfsdqsH
                        type: application/json
                      order: null
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/checkouts
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      operationId: createCheckout
      summary: Create a checkout
      description: |
        Creates a new hosted checkout session.

        The checkout URL in the response can be used to redirect customers to complete their purchase.
        Checkouts expire after a configurable period (default: 24 hours).

        **Products:**
        - Include one or more products using their `one_off_product_` or `subscription_plan_` IDs
        - Mix one-off products and subscription plans in the same checkout
        - Override prices for specific products using the `price` field
        - Add trial periods to subscription plans using `trialDays`

        **Customer association:**
        - Optionally link to an existing customer using `customerId`
        - If not provided, a new customer is created based on checkout form input
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
            examples:
              oneOffProduct:
                summary: Checkout with one-off product (with {CHECKOUT_ID} placeholder)
                value:
                  redirectUrlSuccess: https://example.com/return?checkout_id={CHECKOUT_ID}
                  redirectUrlCanceled: https://example.com/canceled?checkout_id={CHECKOUT_ID}
                  products:
                    - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                      quantity: 1
              subscriptionWithTrial:
                summary: Subscription plan with trial
                value:
                  redirectUrlSuccess: https://example.com/success
                  redirectUrlCanceled: https://example.com/canceled
                  customerId: customer_Fp2kQrSvWm8NjLhYbUcP
                  locale: de
                  products:
                    - id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                      trialDays: 14
              customPrice:
                summary: Product with custom price
                value:
                  redirectUrlSuccess: https://example.com/success
                  redirectUrlCanceled: https://example.com/canceled
                  products:
                    - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                      quantity: 2
                      price:
                        value: '49.99'
                        currency: EUR
                  metadata:
                    campaign: summer-sale
      responses:
        '201':
          description: Checkout created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout'
              example:
                id: checkout_Bm7xNvPwKr3YjTgHcZaE
                resource: checkout
                customerId: null
                orderId: null
                testmode: false
                redirectUrlSuccess: https://example.com/success
                redirectUrlCanceled: https://example.com/canceled
                metadata:
                  campaign: summer-sale
                locale: de
                status: created
                expiresAt: '2024-01-16T10:30:00Z'
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  checkoutUrl:
                    href: https://checkout.vatly.com/checkout_Bm7xNvPwKr3YjTgHcZaE
                    type: text/html
                  self:
                    href: https://api.vatly.com/v1/checkouts/checkout_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: |
            Unprocessable Entity - The request was well-formed but contained validation errors.
            This includes the case where a referenced resource (e.g. `customerId`) exists but
            was created in a different mode — switch between live/test API tokens to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validationFailed:
                  summary: Field validation failed
                  value:
                    message: The given data was invalid.
                    errors:
                      products.0.id:
                        - The selected products.0.id is invalid.
                testmodeMismatch:
                  summary: Referenced resource exists but in the wrong mode
                  value:
                    message: The given data was invalid.
                    errors:
                      customerId:
                        - Customer exists, but the wrong mode is used. Try switching live / test API keys.
        default:
          $ref: '#/components/responses/UnexpectedError'
  /checkouts/{checkoutId}:
    get:
      operationId: getCheckout
      summary: Get a checkout
      description: |
        Retrieves a specific checkout by its ID.
        Use this to check the status of a checkout or get the order ID after completion.
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/checkoutId'
      responses:
        '200':
          description: Checkout details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout'
              example:
                id: checkout_QdEpFhdSrG4Y3DnfsdqsH
                resource: checkout
                customerId: customer_7kBmRtPvXw2NjLhYcZaE
                orderId: order_Jk4pQrSvWm8NjLhYbUcP
                testmode: false
                redirectUrlSuccess: https://example.com/return?checkout_id=checkout_QdEpFhdSrG4Y3DnfsdqsH
                redirectUrlCanceled: https://example.com/canceled
                metadata:
                  campaign: summer-sale
                locale: null
                status: paid
                expiresAt: '2024-01-16T10:30:00Z'
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  checkoutUrl:
                    href: https://checkout.vatly.com/checkout_QdEpFhdSrG4Y3DnfsdqsH
                    type: text/html
                  self:
                    href: https://api.vatly.com/v1/checkouts/checkout_QdEpFhdSrG4Y3DnfsdqsH
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Jk4pQrSvWm8NjLhYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /customers:
    get:
      operationId: listCustomers
      summary: List all customers
      description: |
        Returns a paginated list of customers for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        Pass `email` to filter the list down to the customers holding an address —
        the way back to a customer id you no longer have.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerEmailFilter'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 2
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: customer_7kBmRtPvXw2NjLhYcZaE
                    resource: customer
                    testmode: false
                    email: john.doe@example.com
                    name: John Doe
                    createdAt: '2024-01-15T10:30:00Z'
                    metadata:
                      userId: user_Qp8kNvBxKw7RjTgYcZaE
                    links:
                      self:
                        href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                        type: application/json
                  - id: customer_Lp3mNvBxKw7RjTgYcZaE
                    resource: customer
                    testmode: false
                    email: jane.smith@acme.com
                    name: Jane Smith
                    createdAt: '2024-01-10T08:15:00Z'
                    metadata: {}
                    links:
                      self:
                        href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                count: 2
                links:
                  self:
                    href: https://api.vatly.com/v1/customers
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      operationId: createCustomer
      summary: Create a customer
      description: |
        Creates a customer, or returns the one that already holds the address.

        Customers are uniquely identified by email within a storefront and
        testmode, and this endpoint is get-or-create on that key: posting an
        address that already exists returns the existing customer rather than a
        validation error, so an integration that lost its Vatly customer id can
        always get back to it. The status code says which happened:

        | Status | Meaning |
        | --- | --- |
        | `201` | The customer was created by this request. |
        | `200` | A customer with this email already existed and is returned unchanged. |

        A `200` response never modifies the customer — `name` and `metadata` in
        the request body are ignored for an existing customer. Use
        `PATCH /v1/customers/{customerId}` to change one.

        A `201` can also complete a create that was interrupted before it
        finished, in which case the customer keeps the `id` and `createdAt` of
        that earlier attempt — so `createdAt` may predate the request. Treat it as
        when the customer came into being, not as when this call happened.

        Addresses are canonicalized before they are compared, so `User@MÜLLER.de`
        and `user@xn--mller-kva.de` are the same customer. Beyond that the
        comparison is exact — `büyer@example.com` is a different mailbox and gets
        its own customer.

        **Use cases:**
        - Pre-create customers before checkout
        - Link existing users from your system to Vatly
        - Recover the customer id for a known email after a re-sync or reset
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            example:
              email: customer@example.com
              metadata:
                userId: user_Qp8kNvBxKw7RjTgYcZaE
      responses:
        '200':
          description: |
            A customer with this email already existed. It is returned unchanged —
            nothing in the request body was applied.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: customer@example.com
                name: John Doe
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '201':
          description: Customer created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: customer@example.com
                name: John Doe
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Get a customer
      description: Retrieves a specific customer by their ID.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: john.doe@example.com
                name: John Doe
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      operationId: updateCustomer
      summary: Update a customer
      description: |
        Updates a customer's identity fields. Only `name` and `email` may be
        changed here, and both are optional — send whichever you want to update.

        Billing-address details (company name, tax ID, street, city, country,
        etc.) are not supported by this endpoint and are ignored; amend those
        through the hosted billing-update flow, which validates tax-relevant
        data centrally so invoices stay accurate.

        An `email` is canonicalized before it is stored, so the address you read
        back may differ in spelling from the one you sent. Moving a customer onto
        an address another customer in the same storefront and mode already holds
        returns `422`.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
            example:
              name: John Doe
              email: new.email@example.com
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: new.email@example.com
                name: John Doe
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /customers/{customerId}/subscriptions:
    get:
      operationId: listCustomerSubscriptions
      summary: List customer subscriptions
      description: |
        Returns a paginated list of subscriptions for a specific customer.
        Includes subscriptions in all states (active, canceled, etc.).
      tags:
        - Customers
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/customerId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of customer's subscriptions
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: subscription_Lp3mNvBxKw7RjTgYcZaE
                    resource: subscription
                    customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                    subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                    testmode: false
                    name: Pro Monthly
                    description: Full access to all Pro features
                    billingAddress:
                      fullName: John Doe
                      companyName: Acme Corp
                      streetAndNumber: 123 Main Street
                      city: Berlin
                      postalCode: '10115'
                      country: DE
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    quantity: 1
                    interval: month
                    intervalCount: 1
                    status: active
                    mandate:
                      method: card
                      maskedIdentifier: '4242'
                    startedAt: '2024-01-15T10:30:00Z'
                    endedAt: null
                    canceledAt: null
                    renewedAt: '2024-02-15T10:30:00Z'
                    renewedUntil: '2024-03-15T10:30:00Z'
                    nextRenewalAt: '2024-03-15T10:30:00Z'
                    trialUntil: null
                    scheduledUpdate: null
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE/subscriptions
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /customers/{customerId}/subscriptions/{subscriptionId}:
    get:
      operationId: getCustomerSubscription
      summary: Get a customer subscription
      description: |
        Retrieves a specific subscription for a customer.
        The subscription must belong to the specified customer.
      tags:
        - Customers
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/customerId'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: subscription_Lp3mNvBxKw7RjTgYcZaE
                resource: subscription
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features
                billingAddress:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                basePrice:
                  value: '29.00'
                  currency: EUR
                quantity: 1
                interval: month
                intervalCount: 1
                status: active
                mandate:
                  method: card
                  maskedIdentifier: '4242'
                startedAt: '2024-01-15T10:30:00Z'
                endedAt: null
                canceledAt: null
                renewedAt: '2024-02-15T10:30:00Z'
                renewedUntil: '2024-03-15T10:30:00Z'
                nextRenewalAt: '2024-03-15T10:30:00Z'
                trialUntil: null
                scheduledUpdate: null
                links:
                  self:
                    href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /one-off-products:
    get:
      operationId: listOneOffProducts
      summary: List all one-off products
      description: |
        Returns a paginated list of one-off products for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        Only products with `active` status can be used in checkouts.

        Archived products are excluded unless `includeArchived=true` is passed.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/includeArchived'
      responses:
        '200':
          description: List of one-off products
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OneOffProduct'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    resource: one_off_product
                    testmode: false
                    name: Premium License
                    description: Lifetime access to all premium features
                    basePrice:
                      value: '299.00'
                      currency: EUR
                    taxBehavior: exclusive
                    productType: saas
                    status: active
                    archivedAt: null
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      operationId: createOneOffProduct
      summary: Create a one-off product
      description: |
        Creates a new one-off product for the authenticated merchant, in the
        testmode determined from the API token.

        A product created with a `live_` token starts in `pending` status and
        must be approved by Vatly before it can be used in checkouts — the same
        review that applies to products created in the dashboard. A product
        created with a `test_` token is auto-approved (`active`) so you can trial
        checkout immediately.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneOffProductRequest'
            example:
              name: Premium License
              description: Lifetime access to all premium features
              basePrice:
                value: '299.00'
                currency: EUR
              productType: saas
      responses:
        '201':
          description: One-off product created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffProduct'
              example:
                id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                resource: one_off_product
                testmode: false
                name: Premium License
                description: Lifetime access to all premium features
                basePrice:
                  value: '299.00'
                  currency: EUR
                taxBehavior: exclusive
                productType: saas
                status: pending
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /one-off-products/{oneOffProductId}:
    get:
      operationId: getOneOffProduct
      summary: Get a one-off product
      description: Retrieves a specific one-off product by its ID.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/oneOffProductId'
      responses:
        '200':
          description: One-off product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffProduct'
              example:
                id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                resource: one_off_product
                testmode: false
                name: Premium License
                description: Lifetime access to all premium features
                basePrice:
                  value: '299.00'
                  currency: EUR
                taxBehavior: exclusive
                productType: saas
                status: active
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      operationId: updateOneOffProduct
      summary: Request an update to a one-off product
      description: |
        Submits an update to a live one-off product. Because products drive
        VAT-bearing sales, the change is held as a pending update and reviewed by
        Vatly before it takes effect (`updateStatus` moves `pending` → `reviewing`
        → applied). In test mode the update is approved automatically.

        Each request is the **complete set of changes** relative to the current
        live product. Fields equal to the live value are ignored, and a request
        that nets to no change clears any pending update. A new request replaces
        the not-yet-reviewed one; while an update is being reviewed, further
        requests return `409`.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/oneOffProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneOffProductRequest'
            example:
              name: Premium License v2
              basePrice:
                value: '349.00'
                currency: EUR
      responses:
        '200':
          description: Update submitted; the product now carries a pending update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffProduct'
              example:
                id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                resource: one_off_product
                testmode: false
                name: Premium License
                description: Lifetime access to all premium features
                basePrice:
                  value: '299.00'
                  currency: EUR
                taxBehavior: exclusive
                productType: saas
                status: active
                archivedAt: null
                pendingUpdates:
                  name: Premium License v2
                  basePrice:
                    value: '349.00'
                    currency: EUR
                updateStatus: pending
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /one-off-products/{oneOffProductId}/archive:
    post:
      operationId: archiveOneOffProduct
      summary: Archive a one-off product
      description: |
        Takes the product out of your sellable catalogue. It is hidden from
        `GET /v1/one-off-products` (unless `includeArchived=true`) and refused by
        `POST /v1/checkouts`; existing orders and refunds are untouched.

        Archiving applies to *new* checkouts only. A checkout created before the
        product was archived snapshots its product data at creation time and can
        still be completed — the same window that applies when a product is
        rejected after a checkout was opened.

        Nothing is deleted — the product remains readable by id, now carrying a
        non-null `archivedAt`. Archiving is not queued behind Vatly's product
        review, and leaves any pending update in place. Repeating the request is
        a no-op that returns `204` and does not move `archivedAt`.
        Reverse it with `DELETE /v1/one-off-products/{oneOffProductId}/archive`.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/oneOffProductId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '204':
          description: Product archived (or already archived).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: unarchiveOneOffProduct
      summary: Unarchive a one-off product
      description: |
        Puts an archived product back on sale: it reappears in
        `GET /v1/one-off-products` and can be added to checkouts again. Calling
        it on a product that is not archived is a no-op.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/oneOffProductId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: The product, now on sale again.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffProduct'
              example:
                id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                resource: one_off_product
                testmode: false
                name: Premium License
                description: Lifetime access to all premium features
                basePrice:
                  value: '299.00'
                  currency: EUR
                taxBehavior: exclusive
                productType: saas
                status: active
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /subscription-plans:
    get:
      operationId: listSubscriptionPlans
      summary: List all subscription plans
      description: |
        Returns a paginated list of subscription plans for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        Only plans with `active` status can be used in checkouts.

        Archived plans are excluded unless `includeArchived=true` is passed.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/includeArchived'
      responses:
        '200':
          description: List of subscription plans
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionPlan'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 2
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    resource: subscription_plan
                    testmode: false
                    name: Pro Monthly
                    description: Full access to all Pro features, billed monthly
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    taxBehavior: exclusive
                    interval: month
                    intervalCount: 1
                    productType: saas
                    status: active
                    archivedAt: null
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                        type: application/json
                  - id: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                    resource: subscription_plan
                    testmode: false
                    name: Pro Yearly
                    description: Full access to all Pro features, billed yearly
                    basePrice:
                      value: '290.00'
                      currency: EUR
                    taxBehavior: exclusive
                    interval: year
                    intervalCount: 1
                    productType: saas
                    status: active
                    archivedAt: null
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                        type: application/json
                count: 2
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      operationId: createSubscriptionPlan
      summary: Create a subscription plan
      description: |
        Creates a new subscription plan for the authenticated merchant, in the
        testmode determined from the API token.

        A plan created with a `live_` token starts in `pending` status and must be
        approved by Vatly before it can be used in checkouts — the same review
        that applies to plans created in the dashboard. A plan created with a
        `test_` token is auto-approved (`active`) so you can trial checkout
        immediately.

        Constraints:
        - `productType` must be `saas` (e-books are one-off purchases and cannot
          be sold on a recurring basis).
        - The `day` interval is sandbox-only; live plans support `week`, `month`,
          and `year`.
        - `intervalCount` is bounded per unit: up to 365 days, 52 weeks, or 12
          months. `year` always bills once per year (`intervalCount` is ignored).
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionPlanRequest'
            example:
              name: Pro Monthly
              description: Full access to all Pro features, billed monthly
              basePrice:
                value: '29.00'
                currency: EUR
              productType: saas
              interval: month
              intervalCount: 1
      responses:
        '201':
          description: Subscription plan created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              example:
                id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                resource: subscription_plan
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features, billed monthly
                basePrice:
                  value: '29.00'
                  currency: EUR
                taxBehavior: exclusive
                interval: month
                intervalCount: 1
                productType: saas
                status: pending
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /subscription-plans/{subscriptionPlanId}:
    get:
      operationId: getSubscriptionPlan
      summary: Get a subscription plan
      description: Retrieves a specific subscription plan by its ID.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/subscriptionPlanId'
      responses:
        '200':
          description: Subscription plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              example:
                id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                resource: subscription_plan
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features, billed monthly
                basePrice:
                  value: '29.00'
                  currency: EUR
                taxBehavior: exclusive
                interval: month
                intervalCount: 1
                productType: saas
                status: active
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      operationId: updateSubscriptionPlan
      summary: Request an update to a subscription plan
      description: |
        Submits an update to a live subscription plan. Because plans drive
        VAT-bearing recurring sales, the change is held as a pending update and
        reviewed by Vatly before it takes effect (`updateStatus` moves `pending` →
        `reviewing` → applied). In test mode the update is approved automatically.

        Each request is the **complete set of changes** relative to the current
        live plan. Fields equal to the live value are ignored, and a request that
        nets to no change clears any pending update. A new request replaces the
        not-yet-reviewed one; while an update is being reviewed, further requests
        return `409`. Changing the interval on a plan that has ever been used by a
        subscription — active or not — also returns `409`. The price stays
        changeable.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/subscriptionPlanId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionPlanRequest'
            example:
              name: Pro Weekly
              basePrice:
                value: '9.00'
                currency: EUR
              interval: week
              intervalCount: 1
      responses:
        '200':
          description: Update submitted; the plan now carries a pending update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              example:
                id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                resource: subscription_plan
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features, billed monthly
                basePrice:
                  value: '29.00'
                  currency: EUR
                taxBehavior: exclusive
                interval: month
                intervalCount: 1
                productType: saas
                status: active
                archivedAt: null
                pendingUpdates:
                  name: Pro Weekly
                  basePrice:
                    value: '9.00'
                    currency: EUR
                  interval: week
                  intervalCount: 1
                updateStatus: pending
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /subscription-plans/{subscriptionPlanId}/archive:
    post:
      operationId: archiveSubscriptionPlan
      summary: Archive a subscription plan
      description: |
        Closes the plan to new business. It is hidden from
        `GET /v1/subscription-plans` (unless `includeArchived=true`), refused by
        `POST /v1/checkouts`, and can no longer be switched to from
        `PATCH /v1/subscriptions/{subscriptionId}`.

        Subscribers already on the plan are deliberately untouched: a
        subscription snapshots its plan at signup and renews off that snapshot,
        so archiving never cancels anyone or changes what they are billed. To end
        a subscription, cancel it with `DELETE /v1/subscriptions/{subscriptionId}`.

        Likewise a checkout created before the plan was archived snapshots its
        product data at creation time and can still be completed. Archiving
        applies to *new* checkouts only.

        Nothing is deleted — the plan remains readable by id, now carrying a
        non-null `archivedAt`. Repeating the request is a no-op that returns
        `204` and does not move `archivedAt`.

        Reverse it with `DELETE /v1/subscription-plans/{subscriptionPlanId}/archive`.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/subscriptionPlanId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '204':
          description: Plan archived (or already archived).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: unarchiveSubscriptionPlan
      summary: Unarchive a subscription plan
      description: |
        Re-opens an archived plan to new business: it reappears in
        `GET /v1/subscription-plans` and can be added to checkouts and switched
        to again. Calling it on a plan that is not archived is a no-op.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/subscriptionPlanId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: The plan, now open to new business again.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              example:
                id: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                resource: subscription_plan
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features, billed monthly
                basePrice:
                  value: '29.00'
                  currency: EUR
                taxBehavior: exclusive
                interval: month
                intervalCount: 1
                productType: saas
                status: active
                archivedAt: null
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders:
    get:
      operationId: listOrders
      summary: List all orders
      description: |
        Returns a paginated list of orders for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: order_Hn5xWqVfKm8RjTgYbUcP
                    resource: order
                    customerId: customer_Xk9pQrSvWm4NjLhYbUcP
                    testmode: false
                    metadata: {}
                    paymentMethod: ideal
                    createdAt: '2024-01-15T10:30:00Z'
                    status: paid
                    invoiceNumber: INV-2024-0001
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    reversedSubtotal:
                      value: '0.00'
                      currency: EUR
                    refundableSubtotal:
                      value: '29.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                    lines:
                      - id: order_item_Mn6xBtPvKw2RjTgYcZaE
                        resource: orderline
                        description: Pro Monthly Subscription
                        quantity: 1
                        basePrice:
                          value: '29.00'
                          currency: EUR
                        total:
                          value: '35.09'
                          currency: EUR
                        subtotal:
                          value: '29.00'
                          currency: EUR
                        taxes:
                          - taxRate:
                              name: VAT
                              percentage: 21
                              taxablePercentage: 100
                            amount:
                              value: '6.09'
                              currency: EUR
                        productType: subscription
                        productId: subscription_Hn5xWqVfKm8RjTgYbUcP
                    customerDetails:
                      fullName: John Doe
                      companyName: Acme Corp
                      streetAndNumber: 123 Main Street
                      city: Berlin
                      postalCode: '10115'
                      country: DE
                      email: john@acme.com
                    links:
                      self:
                        href: https://api.vatly.com/v1/orders/order_Hn5xWqVfKm8RjTgYbUcP
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Xk9pQrSvWm4NjLhYbUcP
                        type: application/json
                      customerInvoice:
                        href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP
                        type: text/html
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get an order
      description: |
        Retrieves a specific order by its ID.
        Includes full order details with line items, totals, and billing information.
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              example:
                id: order_Hn5xWqVfKm8RjTgYbUcP
                resource: order
                customerId: customer_Xk9pQrSvWm4NjLhYbUcP
                testmode: false
                metadata: {}
                paymentMethod: ideal
                createdAt: '2024-01-15T10:30:00Z'
                status: paid
                invoiceNumber: INV-2024-0001
                total:
                  value: '35.09'
                  currency: EUR
                subtotal:
                  value: '29.00'
                  currency: EUR
                reversedSubtotal:
                  value: '0.00'
                  currency: EUR
                refundableSubtotal:
                  value: '29.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '6.09'
                      currency: EUR
                lines:
                  - id: order_item_Jk4pQrSvWm8NjLhYbUcP
                    resource: orderline
                    description: Pro Monthly Subscription
                    quantity: 1
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                    productType: subscription
                    productId: subscription_Hn5xWqVfKm8RjTgYbUcP
                customerDetails:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                  email: john@acme.com
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Hn5xWqVfKm8RjTgYbUcP
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Xk9pQrSvWm4NjLhYbUcP
                    type: application/json
                  customerInvoice:
                    href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP
                    type: text/html
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/invoice-update-link:
    post:
      operationId: createOrderInvoiceUpdateLink
      summary: Create invoice update link
      description: |
        Generates a signed URL that allows the customer to update the invoice details for this order
        (billing address, VAT number, company name).

        The link is valid for a limited time (typically 24 hours) and can be sent to the customer
        to self-service update their invoice.

        **Use cases:**
        - Customer needs to add/update VAT number
        - Customer needs to correct billing address
        - Customer needs to change company name on invoice
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: Invoice update link generated
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceUpdateLink'
              example:
                href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP/edit?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                type: text/html
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/refunds:
    get:
      operationId: listOrderRefunds
      summary: List order refunds
      description: |
        Returns a paginated list of refunds for a specific order.
        Includes both pending and completed refunds.
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of order refunds
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: refund_Bm7xNvPwKr3YjTgHcZaE
                    resource: refund
                    orderId: null
                    customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                    testmode: false
                    createdAt: '2024-01-20T14:00:00Z'
                    status: pending
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    total:
                      value: '12.10'
                      currency: EUR
                    subtotal:
                      value: '10.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '2.10'
                          currency: EUR
                    lines:
                      - id: refund_item_Jk4pQrSvWm8NjLhYbUcP
                        resource: refundline
                        description: Partial refund for service issue
                        quantity: 1
                        basePrice:
                          value: '10.00'
                          currency: EUR
                        total:
                          value: '12.10'
                          currency: EUR
                        subtotal:
                          value: '10.00'
                          currency: EUR
                        taxes:
                          - taxRate:
                              name: VAT
                              percentage: 21
                              taxablePercentage: 100
                            amount:
                              value: '2.10'
                              currency: EUR
                    links:
                      self:
                        href: https://api.vatly.com/v1/refunds/refund_Bm7xNvPwKr3YjTgHcZaE
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order: null
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP/refunds
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      operationId: createOrderRefund
      summary: Create a partial refund
      description: |
        Creates a partial refund for specific items in an order.

        **Requirements:**
        - Order must have `paid` status
        - Order's payment provider must support refunds
        - Refund amount per item cannot exceed remaining refundable amount

        **Notes:**
        - Amounts are specified before taxes; taxes are calculated automatically
        - Multiple partial refunds can be created for the same order
        - Refunds are processed asynchronously through the payment provider
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
            examples:
              partialRefund:
                summary: Partial refund for one item
                value:
                  items:
                    - itemId: order_item_Jk4pQrSvWm8NjLhYbUcP
                      amount:
                        value: '15.00'
                        currency: EUR
                      description: 50% refund for service issue
              multipleItems:
                summary: Refund multiple items
                value:
                  items:
                    - itemId: order_item_Jk4pQrSvWm8NjLhYbUcP
                      amount:
                        value: '29.00'
                        currency: EUR
                    - itemId: order_item_Tk7mNvBxKw2RjTgYcZaE
                      amount:
                        value: '10.00'
                        currency: EUR
                  metadata:
                    ticketId: SUPPORT-12345
      responses:
        '201':
          description: Refund created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Mn6xBtPvKw2RjTgYcZaE
                resource: refund
                orderId: null
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                testmode: false
                createdAt: '2024-01-15T10:30:00Z'
                status: pending
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '18.15'
                  currency: EUR
                subtotal:
                  value: '15.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '3.15'
                      currency: EUR
                lines:
                  - id: refund_item_Tk7mNvBxKw2RjTgYcZaE
                    resource: refundline
                    description: 50% refund for service issue
                    quantity: 1
                    basePrice:
                      value: '15.00'
                      currency: EUR
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Mn6xBtPvKw2RjTgYcZaE
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: |
            Validation failed. Common errors:
            - Order is not in `paid` status
            - Order's payment provider does not support refunds
            - Refund amount exceeds remaining refundable amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                notPaid:
                  summary: Order not paid
                  value:
                    message: The given data was invalid.
                    errors:
                      orderId:
                        - Order must be in paid status to create a refund.
                overRefund:
                  summary: Over-refunding
                  value:
                    message: The given data was invalid.
                    errors:
                      items.0.amount:
                        - 'Refund amount exceeds remaining refundable amount. Maximum: 15.00 EUR'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/refunds/full:
    post:
      operationId: createFullOrderRefund
      summary: Create a full refund
      description: |
        Creates a full refund for an order, refunding all items.

        **Requirements:**
        - Order must have `paid` status
        - Order's payment provider must support refunds
        - Order must not be already fully refunded

        **Notes:**
        - This is a convenience endpoint; it automatically calculates the full refundable amount
        - If partial refunds have already been issued, only the remaining amount is refunded
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFullRefundRequest'
            example:
              metadata:
                reason: Customer requested cancellation
      responses:
        '201':
          description: Full refund created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Rk5pQrSvWm8NjLhYbUcP
                resource: refund
                orderId: null
                customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                createdAt: '2024-01-21T09:00:00Z'
                status: pending
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '35.09'
                  currency: EUR
                subtotal:
                  value: '29.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '6.09'
                      currency: EUR
                lines:
                  - id: refund_item_Bm7xNvPwKr3YjTgHcZaE
                    resource: refundline
                    description: Pro Monthly Subscription (Full Refund)
                    quantity: 1
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Rk5pQrSvWm8NjLhYbUcP
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/refunds/{refundId}:
    get:
      operationId: getOrderRefund
      summary: Get an order refund
      description: |
        Retrieves a specific refund for an order.
        The refund must belong to the specified order.
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/refundId'
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Xk9pQrSvWm4NjLhYbUcP
                resource: refund
                orderId: order_Bm7xNvPwKr3YjTgHcZaE
                customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                createdAt: '2024-01-20T14:00:00Z'
                status: refunded
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '18.15'
                  currency: EUR
                subtotal:
                  value: '15.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '3.15'
                      currency: EUR
                lines:
                  - id: refund_item_Mn6xBtPvKw2RjTgYcZaE
                    resource: refundline
                    description: Pro Monthly Subscription (Refund)
                    quantity: 1
                    basePrice:
                      value: '15.00'
                      currency: EUR
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Xk9pQrSvWm4NjLhYbUcP
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: cancelOrderRefund
      summary: Cancel a refund
      description: |
        Cancels a pending refund.

        **Requirements:**
        - Refund must be in `pending` status
        - Cannot cancel refunds that have already been processed

        **Notes:**
        - Once canceled, the refund cannot be restored
        - To refund again, create a new refund request
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/refundId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '204':
          description: Refund canceled successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Cannot cancel refund (not in pending status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Only pending refunds can be canceled.
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/chargebacks:
    get:
      operationId: listOrderChargebacks
      summary: List order chargebacks
      description: |
        Returns a paginated list of chargebacks for a specific order.
        Most orders have at most one chargeback.
      tags:
        - Orders
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of order chargebacks
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chargeback'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: chargeback_Fp2kQrSvWm8NjLhYbUcP
                    resource: chargeback
                    testmode: false
                    createdAt: '2024-01-25T16:45:00Z'
                    amount:
                      value: '35.09'
                      currency: EUR
                    settlementAmount:
                      value: '35.09'
                      currency: EUR
                    customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                    status: lost
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                    reason: product_not_received
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    orderId: order_Rk5pQrSvWm8NjLhYbUcP
                    links:
                      self:
                        href: https://api.vatly.com/v1/chargebacks/chargeback_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order:
                        href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP/chargebacks
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /orders/{orderId}/chargebacks/{chargebackId}:
    get:
      operationId: getOrderChargeback
      summary: Get an order chargeback
      description: |
        Retrieves a specific chargeback for an order.
        The chargeback must belong to the specified order.
      tags:
        - Orders
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/chargebackId'
      responses:
        '200':
          description: Chargeback details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chargeback'
              example:
                id: chargeback_Mn6xBtPvKw2RjTgYcZaE
                resource: chargeback
                testmode: false
                createdAt: '2024-01-25T16:45:00Z'
                amount:
                  value: '35.09'
                  currency: EUR
                settlementAmount:
                  value: '35.09'
                  currency: EUR
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                status: lost
                total:
                  value: '35.09'
                  currency: EUR
                subtotal:
                  value: '29.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '6.09'
                      currency: EUR
                reason: fraud
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                orderId: order_Rk5pQrSvWm8NjLhYbUcP
                links:
                  self:
                    href: https://api.vatly.com/v1/chargebacks/chargeback_Mn6xBtPvKw2RjTgYcZaE
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /refunds:
    get:
      operationId: listRefunds
      summary: List all refunds
      description: |
        Returns a paginated list of all refunds for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of refunds
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
[...]
